In [110]:
import os 
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split

In [123]:
train = pd.read_csv("./train_air_q.csv", names=['date','no2','o3','co2','so2','fd','ufd','traffic'])
train=train.drop(['date'], axis=1)
x_train=train.drop(['traffic'], axis=1)
normalization_x_train = (x_train - x_train.min())/(x_train.max() - x_train.min())
normalization_x_train.head()

        no2        o3       co2    so2        fd       ufd
0  0.580645  0.064516  0.777778  0.375  0.295154  0.388350
1  0.451613  0.161290  0.444444  0.375  0.193833  0.242718
2  0.661290  0.161290  0.777778  0.500  0.418502  0.543689
3  0.274194  0.451613  0.555556  0.375  0.339207  0.417476
4  0.274194  0.322581  0.333333  0.375  0.118943  0.116505

In [124]:
import numpy as np
y_train=np.array(train['traffic'])
x_train=np.array(normalization_x_train)

In [125]:
normalization_x_train = (x_train - x_train.min())/(x_train.max() - x_train.min())

In [126]:
x__train, x__test, y_train, y_test = train_test_split(normalization_x_train, y_train, test_size = 0.2, random_state = 1234) # 학습데이터와 평가데이터의 비율을 8:2 로 분할|

In [127]:
from sklearn.svm import LinearSVR
from sklearn.metrics import accuracy_score # 정확도 함수

clf = LinearSVR().fit(x__train,y_train)
predict1 = clf.predict(x__test)

In [128]:
from sklearn.model_selection import KFold

kfold = KFold(n_splits=5, shuffle = True, random_state=41)

In [129]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(clf , x__train , y_train ,cv=kfold)
print(scores)

[-27.97233896 -40.10364984 -86.49306366 -82.66858237 -55.23161509]

In [130]:
test = pd.read_csv("./test_air_q.csv", names=['date','no2','o3','co2','so2','fd','ufd'])
test=test.drop(['date'], axis=1)
test = (test - test.min())/(test.max() - test.min())
test.head()

        no2        o3       co2   so2        fd       ufd
0  0.902439  0.272727  1.000000  0.75  0.617486  0.610738
1  0.951220  0.218182  1.000000  0.75  0.601093  0.583893
2  0.804878  0.290909  0.714286  0.50  0.486339  0.496644
3  0.829268  0.345455  1.000000  0.75  0.836066  0.812081
4  0.439024  0.454545  1.000000  0.75  1.000000  1.000000

In [131]:
y_test = clf.predict(test)

c:\Users\hooki\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LinearSVR was fitted without feature names
  warnings.warn(

In [132]:
import csv

In [133]:
y_o = pd.DataFrame(y_test)

In [134]:
y_o.to_csv("./traffic_prediction.csv")