In [2]:
import pandas as pd
url = "C:/1234/x_train_response.csv"
df = pd.read_csv(url, names=['F1','F2','F3','F4','F5','D1','D2','D3','D4','D5','D6','D7','D8','D9','D10','R1'])
df.head()

,F1,F2,F3,F4,F5,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,R1
0,-0.92575,-0.34309,1,-1,-1,0.0,-0.77778,-0.333330,0.189970,-0.50,0.66667,-0.76822,-0.90476,-0.001805,-0.83019,1
1,-0.92575,-0.34309,1,-1,-1,-0.8,-0.77778,-0.333330,-1.000000,-0.75,-0.66667,-0.86023,-0.80952,-0.001805,-1.00000,1
2,-0.90100,-0.46830,1,-1,-1,-0.7,-0.55556,-0.057191,-0.349560,-0.50,-0.66667,-0.90117,-0.90476,-0.001805,-0.96226,1
3,-0.86940,-0.57487,-1,1,-1,-0.9,-0.77778,-0.333330,-0.719870,-0.75,-0.83333,-1.00000,-1.00000,-0.001805,-0.98113,1
4,-0.93839,-0.25525,1,-1,-1,-0.4,-0.55556,-0.057191,-0.030911,-0.50,-0.33333,-0.77900,-0.80952,-0.001805,-0.90566,1

In [2]:
from sklearn.preprocessing import StandardScaler  # 표준화 패키지 라이브러리 
y = df['R1'].values # 종속변인 추출
x = df.drop(['R1'], axis=1).values # 독립변인들의 value값만 추출

features = ['F1','F2','F3','F4','F5','D1','D2','D3','D4','D5','D6','D7','D8','D9','D10']
pd.DataFrame(x, columns=features).head()

,F1,F2,F3,F4,F5,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10
0,-0.92575,-0.34309,1.0,-1.0,-1.0,0.0,-0.77778,-0.333330,0.189970,-0.50,0.66667,-0.76822,-0.90476,-0.001805,-0.83019
1,-0.92575,-0.34309,1.0,-1.0,-1.0,-0.8,-0.77778,-0.333330,-1.000000,-0.75,-0.66667,-0.86023,-0.80952,-0.001805,-1.00000
2,-0.90100,-0.46830,1.0,-1.0,-1.0,-0.7,-0.55556,-0.057191,-0.349560,-0.50,-0.66667,-0.90117,-0.90476,-0.001805,-0.96226
3,-0.86940,-0.57487,-1.0,1.0,-1.0,-0.9,-0.77778,-0.333330,-0.719870,-0.75,-0.83333,-1.00000,-1.00000,-0.001805,-0.98113
4,-0.93839,-0.25525,1.0,-1.0,-1.0,-0.4,-0.55556,-0.057191,-0.030911,-0.50,-0.33333,-0.77900,-0.80952,-0.001805,-0.90566

In [24]:
from sklearn.decomposition import PCA
pca = PCA(n_components=6) # 주성분을 몇개로 할지 결정
printcipalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data=printcipalComponents, columns = ['PC1', 'PC2', 'PC3', 'PC4','PC5','PC6'])
# 주성분으로 이루어진 데이터 프레임 구성

In [25]:
principalDf.head()

        PC1       PC2       PC3       PC4       PC5       PC6
0  2.000999 -0.493902  0.423575  1.313542  0.341464 -0.278764
1  1.565895 -0.718734  0.063482 -0.406867  0.237898 -0.228048
2  1.758098 -0.528150  0.209430 -0.155319  0.653311  0.094598
3  0.226975  1.790326  0.306106 -0.489949  0.085710 -0.316453
4  1.939779 -0.475180  0.354901  0.351514  0.643559  0.038660

In [27]:
pca.explained_variance_ratio_

array([0.37036693, 0.28037748, 0.20838995, 0.04891114, 0.0301503 ,
       0.02957917])

In [28]:
sum(pca.explained_variance_ratio_)

0.9677749619393666

In [ ]:
abs(df.corr())

In [4]:
url = "C:/1234/x_train_response_after_pca.csv"
train = pd.read_csv(url, names=['F1','F2','F3','D1','D6','R1'])
train.head()

        F1       F2  F3   D1       D6  R1
0 -0.92575 -0.34309   1  0.0  0.66667   1
1 -0.92575 -0.34309   1 -0.8 -0.66667   1
2 -0.90100 -0.46830   1 -0.7 -0.66667   1
3 -0.86940 -0.57487  -1 -0.9 -0.83333   1
4 -0.93839 -0.25525   1 -0.4 -0.33333   1

In [5]:
import numpy as np
y_train=np.array(train['R1'])
x_train=train.drop(['R1'], axis=1)
x_train=np.array(x_train)

In [6]:
from sklearn.model_selection import KFold

In [7]:
kfold = KFold(n_splits=5, shuffle = True, random_state=1234)

In [8]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score, cross_validate

svm_model = SVC(kernel='rbf')
svm_model.fit(x_train, y_train)

SVC()

In [16]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(svm_model , x_train , y_train ,cv=kfold)
print(scores)

[0.75369726 0.73646151 0.74728143 0.74717268 0.74706394]

In [17]:
url = "C:/1234/x_test_response_after_pca.csv"
test = pd.read_csv(url, names=['F1','F2','F3','D1','D6'])

In [18]:
y_test = svm_model.predict(test)

c:\Users\hooki\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

In [13]:
import csv

In [14]:
y_o = pd.DataFrame(y_test)

In [15]:
y_o.to_csv("C:/1234/y_test_output_after_pca.csv")